{% extends "base.html" %}
{% block title %}Register - SocioSith{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='components/forms/register.css') }}">
{% endblock %}

{% block content %}
    <section class="register-form">
        <div class="info-container">
            <!-- <img src="{{ url_for('static', filename='images/background.jpg') }}" alt="Login Image"> -->
        </div>
        <div class="form-container">
            <h2>Register</h2>
            <form method="post" action="{{ url_for('navbar.register') }}"> <!--endpoint navbar/register-->

                <!-- Account Type  -->
                <label for="account_type" style="display: none;">Account Type</label>
                <select id="account_type" name="account_type" style="display: none;">
                    <option value="influencer">Influencer</option>
                </select>

                <!-- Username -->
                <div id="username_field">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" 
                    class="{% if 'username' in error_fields %}is-invalid{% endif %}" value="{{ request.form.username }}" required>
                </div>

                <!-- Email -->
                <label for="email">Email</label>
                <input type="text" id="email" name="email" 
                class="{% if 'email' in error_fields %}is-invalid{% endif %}" value="{{ request.form.email }}" required>

                <!-- Gender -->
                <label for="gender">Gender</label>
                <select id="gender" name="gender" required>
                    <option value="" selected disabled>Select an option</option>
                    <option value="male" {% if request.form.gender == 'male' %}selected{% endif %}>Male</option>
                    <option value="female" {% if request.form.gender == 'female' %}selected{% endif %}>Female</option>
                </select>

                <!-- Age -->
                <label for="age">Age</label>
                <input type="number" id="age" name="age" min="16" max="99" value="{{ request.form.age }}" required>

                <!-- Niche -->
                <label for="niche">Niche</label>
                <select id="niche" name="niche" required>
                    <option value="" selected disabled>Select an option</option>
                    <option value="fashion&lifestyle" {% if request.form.niche == 'fashion&lifestyle' %}selected{% endif %}>Fashion & Lifestyle</option>
                    <option value="health&fitness" {% if request.form.niche == 'health&fitness' %}selected{% endif %}>Health & Fitness</option>
                    <option value="travel&adventure" {% if request.form.niche == 'travel&adventure' %}selected{% endif %}>Travel & Adventure</option>
                    <option value="tech&gadgets" {% if request.form.niche == 'tech&gadgets' %}selected{% endif %}>Tech & Gadgets</option>
                    <option value="beauty&skincare" {% if request.form.niche == 'beauty&skincare' %}selected{% endif %}>Beauty & Skincare</option>
                </select>

                <!-- Password -->
                <label for="password">Password</label>
                <input type="password" id="password" name="password" 
                class="{% if 'password' in error_fields %}is-invalid{% endif %}" required>

                <!-- Confirm Password -->
                <label for="password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" 
                class="{% if 'confirm_password' in error_fields %}is-invalid{% endif %}" required>

                <button type="submit">Register</button>

                <p class="login-redirect">
                    Already have an account? <a href="{{ url_for('navbar.login') }}">Log in</a>
                </p>

            </form>
        </div>
    </section>


{% endblock %}
