{% extends "base.html" %}
{% block title %}Account Details- SocioSith{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='components/forms/update_account.css') }}">
{% endblock %}

{% block content %}
    <section class="update-account-form">
        <div class="info-container">
            <!-- <img src="{{ url_for('static', filename='images/background.jpg') }}" alt="Login Image"> -->
        </div>
        <div class="update-account-container">
            <h2>Account Details</h2>
            <form method="post" action="{{ url_for('profile_boundary.update_account') }}">
                <label for="username">Username</label>
                <input type="text" id="username" name="username"
                    class="{% if 'username' in error_fields %}is-invalid{% endif %}" 
                    value="{{ user['username'] }}" required>

                <label for="email">Email</label>
                <input type="text" id="email" name="email" 
                    class="{% if 'email' in error_fields %}is-invalid{% endif %}" 
                    value="{{ user['email'] }}" required>

                <label for="gender">Gender</label>
                <select id="gender" name="gender" required>
                    <option value="" {% if user['gender'] is not defined or not user['gender'] %}selected{% endif %}>Select Gender</option>
                    <option value="male" {% if user['gender'] == 'male' %}selected{% endif %}>Male</option>
                    <option value="female"{% if user['gender'] == 'female' %}selected{% endif %}>Female</option>
                </select>

                <label for="age">Age</label>
                <input type="number" id="age" name="age"  min="16" max="99" value="{{ user['age'] if user['age'] is defined and user['age'] else ''}}" required>

                {% if user['account_type'] != "admin" %}
                <label for="niche">Niche</label>
                <select id="niche" name="niche">
                    <option value="" {% if user['niche'] is not defined or not user['niche'] %}selected{% endif %}>Select Niche</option>
                    <option value="fashion&lifestyle" {% if user['niche'] == 'fashion&lifestyle' %}selected{% endif %}>Fashion & Lifestyle</option>
                    <option value="health&fitness" {% if user['niche'] == 'health&fitness' %}selected{% endif %}>Health & Fitness</option>
                    <option value="travel&adventure" {% if user['niche'] == 'travel&adventure' %}selected{% endif %}>Travel & Adventure</option>
                    <option value="tech&gadgets" {% if user['niche'] == 'tech&gadgets' %}selected{% endif %}>Tech & Gadgets</option>
                    <option value="beauty&skincare" {% if user['niche'] == 'beauty&skincare' %}selected{% endif %}>Beauty & Skincare</option>
                </select>
                {% endif %}

                <label for="password">New Password (leave blank if not changing)</label>
                <input type="password" id="password" name="password"
                    class="{% if 'password' in error_fields %}is-invalid{% endif %}">

                <label for="password">Confirm New Password (leave blank if not changing)</label>
                <input type="password" id="confirm_password" name="confirm_password"
                    class="{% if 'confirm_password' in error_fields %}is-invalid{% endif %}">

                <label for="account_type">Account Type</label>
                <input type="text" id="account_type" name="account_type" value="{{ user['account_type'] }}" readonly>
                
                <div class="button-container">
                    <button type="submit">Update Account</button>
                    <button type="button" class="delete-button" onclick="confirmDelete()">Delete Account</button>
                </div>
            </form>
        </div>
    </section>

    <script>
        function confirmDelete() {
            if (confirm('Are you sure you want to delete your account? This action cannot be undone.')) {
                document.location.href = "{{ url_for('profile_boundary.delete_account') }}"; // Navigate to delete URL
            }
        }
    </script>
{% endblock %}
