{% extends "base.html" %}
{% block title %}Network Position{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='components/dashboard/influencer_dashboard.css') }}">
    <style>
        /* Set dimensions for the network graph */
        #networkGraph {
            width: 100%;
            height: 600px;
            border: 1px solid #ccc;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="dashboard-wrapper">
        <aside class="sidebar">
            <h3>Dashboard Menu</h3>
            <ul class="menu">
                <li><a href="{{ url_for('influencer_boundary.engagement_metrics') }}"><i class="fas fa-chart-line"></i>Engagement Metrics</a></li>
                <li><a href="{{ url_for('influencer_boundary.followers') }}"><i class="fas fa-users"></i>Followers Forecast</a></li>
                <li><a href="{{ url_for('influencer_boundary.network') }}" class="active"><i class="fas fa-network-wired"></i>Network Visualization</a></li>
                <li><a href="{{ url_for('influencer_boundary.ranking') }}"><i class="fas fa-trophy"></i>Network Position</a></li>
            </ul>
        </aside>

        <div class="dashboard-container">
            <h2>Network Details for {{ user['username'] }}</h2>
            <p>Analyze your influence within the network.</p>
            
            
            <!-- Display the follower network graph -->
            <h3>Follower Network Graph</h3>

            {% if graph %}
                <h4>Graph 1: Network with Communities</h4>
                <iframe src="{{ url_for('serve_graphs', filename='3d_network.html') }}" width="100%" height="600px"></iframe>

                <h4>Graph 2: Influential Nodes Highlighted</h4>
                <iframe src="{{ url_for('serve_graphs', filename='3d_network_centrality.html') }}" width="100%" height="600px"></iframe>

                    <h4>Top Central Nodes:</h4>
                <ul>
                    {% for node, score in central_nodes.items() %}
                        <li>{{ node }}: {{ score }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No data found.</p>
            {% endif %}

            



        
        </div>
    </div>
{% endblock %}
