{% extends "base.html" %}
{% block title %}Influencer Dashboard{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='components/dashboard/influencer_dashboard.css') }}">
{% endblock %}


{% block content %}
    <div class="dashboard-wrapper">
        <!-- Sidebar Menu -->
        <aside class="sidebar"> <!--each anchor tag leads to an endpoint in boundary/dashboard_boundary.py-->
            <h3>Dashboard Menu</h3>
            <ul class="menu">
                <li><a href="{{ url_for('influencer_boundary.engagement_metrics') }}"><i class="fas fa-chart-line"></i> Engagement Metrics</a></li>
                <li><a href="{{ url_for('influencer_boundary.followers') }}"><i class="fas fa-users"></i> Followers Forecast</a></li>
                <li><a href="{{ url_for('influencer_boundary.network') }}"><i class="fas fa-network-wired"></i> Account Network Visualization</a></li>
                <li><a href="{{ url_for('influencer_boundary.post_page') }}"><i class="fas fa-trophy"></i> Post Analysis</a></li>
            </ul>
        </aside>
    

        <!-- Main Dashboard Content -->
        <div class="dashboard-container">
            <div class="header">
                <h2>Welcome, {{ user['username'] }}!</h2>
                <p>Start your journey to growing your influence today.</p>
            </div>

            <!-- General Metrics Section -->
            <section class="dashboard-section feature-explanation">
                <h3>Platform Features</h3>
                
                <div class="feature-grid">
                    <div class="feature">
                        <h4>Engagement Metrics</h4>
                        <p></p>
                    </div>
                    <div class="feature">
                        <h4>Followers Forecast</h4>
                        <p>Upload your instagram HTML file to start forecasting follower growth. This tool helps you predict the potential outcome of your social media efforts and make informed decisions for future growth.</p>
                    </div>
                    <div class="feature">
                        <h4>Account Network Visualization</h4>
                        <p>Search for a username to visualize your account network and relationships with other accounts. You can see how accounts are interconnected and how information flows between them, giving you a better understanding of your online social network.</p>
                    </div>
                    <div class="feature">
                        <h4>Post Analysis</h4>
                        <p>Dive into the platform's analytics to gain insights into engagement metrics and post performance. You can enter the url for a post to generate detailed performance insights.</p>
                    </div>
                </div>
                 
            </section>
        </div>
    </div>     
        
{% endblock %}
