{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='components/dashboard/admin_dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="dashboard-wrapper">
    <!-- Sidebar Menu -->
    <aside class="sidebar">
        <h3>Admin Menu</h3>
        <ul class="menu">
            <li><a href="{{ url_for('admin_boundary.manage_accounts') }}"><i class="fas fa-users"></i>View All Users</a></li>
            <li><a href="{{ url_for('admin_boundary.approve_accounts') }}"><i class="fas fa-user-check"></i> Approve Accounts</a></li>
            <li><a href="{{ url_for('admin_boundary.manage_landing_page') }}"><i class="fas fa-pencil-alt"></i>Manage Landing Page</a></li>
            <li><a href="{{ url_for('admin_boundary.manage_about_us_page') }}"><i class="fas fa-info-circle"></i>Manage About Us Page</a></li>
        </ul>
    </aside>

    <!-- Main Dashboard Content -->
    <div class="dashboard-container">
        <h2>Welcome, {{ user['username'] }}!</h2>

        <!-- Statistics Section -->
        <section class="dashboard-section statistics">
            <h3>System Overview</h3>
            <div class="stats-grid">
                <!-- Total Users -->
                <div class="stat-card highlight">
                    <div class="card-content">
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="details">
                            <h4>Total Users</h4>
                            <p>{{ total_users }}</p>
                        </div>
                    </div>
                </div>
        
                <!-- Influencers -->
                <div class="stat-card">
                    <div class="card-content">
                        <div class="icon">
                            <i class="fas fa-user-tie"></i>
                        </div>
                        <div class="details">
                            <h4>Influencer Accounts</h4>
                            <p>{{ total_influencers }}</p>
                        </div>
                    </div>
                </div>
        
                <!-- Business Accounts -->
                <div class="stat-card">
                    <div class="card-content">
                        <div class="icon">
                            <i class="fas fa-briefcase"></i>
                        </div>
                        <div class="details">
                            <h4>Business Accounts</h4>
                            <p>{{ total_business_accounts }}</p>
                        </div>
                    </div>
                </div>
            </div>
            
                    
        </section>

    </div>
</div>
{% endblock %}
